/*==================================================
                General
==================================================*/

body {font-family:'Calibri';color: #2C3E50;font-size:0.9375rem;}
p:last-child {margin-bottom: 0;}
button:focus {outline: 0px dotted; outline: 0px auto -webkit-focus-ring-color;}
.btn:focus,
.btn.focus {box-shadow: none;}

.btn {cursor: pointer; font-family:'Calibri';font-weight: 700;letter-spacing: 2px;padding: 0.625rem 1.875rem;}

.btn-lg,
.btn-group-lg > .btn {font-size: 1.125rem;padding: 1.3125rem 4.5rem;}

.btn-green {color: #fff;background-color:#7d7f4b;border-color: #7d7f4b;}
.btn-green:hover {color: #fff;background-color:#6A6C40;border-color: #6A6C40;}

.center-block {display: block;margin-left: auto;margin-right: auto;}

.pt-150 {padding-top: 150px;}
.pb-150 {padding-bottom: 150px;}

.mt-55 {margin-top: 55px;}
.mt-70 {margin-top: 70px;}
.mb-70 {margin-bottom: 70px;}

h1, .h1 {font-size: 3.4375rem;font-family: 'Gilroy Black'; font-weight: 900;}
h2, .h2 {font-size: 3.125rem;font-weight: 700;margin-bottom: 1.25rem;}
h3, .h3 {font-size: 1.5rem;}

.text-green {color: #7d7f4b !important;}

/*==================================================
                Header
==================================================*/


.banner-home {text-shadow: 3px 3px 20px rgba(0,0,0,0.5) /*2px 2px 5px rgba(0,0,0,0.3)*/;background: transparent url(../images/banner-home.jpg) no-repeat center scroll;background-size: cover;text-align: center;color: #fff;position: relative;}
.banner-home .logo {margin: 30px 0;text-align: left;}
.banner-home .banner-home-main {padding-top: 290px;padding-bottom: 290px;}
.banner-home h1 {margin-bottom: 15px;letter-spacing: 7px;}
.banner-home h3 {margin-bottom: 0;letter-spacing: 1px;font-family:'Gilroy Medium';font-weight: 400;}



.down-arrow {display: block; width: 110px; height: 110px; position: absolute; bottom: -55px; left: 50%; margin-left: -55px; border-radius: 50%; }
.down-arrow:before {content: ""; background: transparent url(../images/down-arrow.png) no-repeat center scroll; display: block; width: 110px; height: 110px; background-color: #fff; position: absolute; z-index: 10; bottom: 0px; left: 50%; margin-left: -55px; border-radius: 50%; box-shadow: 0 5px 5px 0 rgba(0,0,0,0.05); }
.down-arrow:after {content: ""; display: block; height: 134px; width: 134px; background-color: #fff; position: absolute; z-index: 5; border-radius: 50%; left: -12px; bottom: -12px; }



/*==================================================
                hexagon
==================================================*/


.hexagon {letter-spacing: 0.5px;line-height: 18px;cursor: pointer;height: 100px; width: 85px; color: #fff; font-size: 13px; background-repeat: no-repeat; background-position: center center; background-attachment: scroll; background-color: transparent; }

.blue-hexagon {background-image: url(../images/blue-hexagon.png);}
.select.blue-hexagon {background-image: url(../images/blue-hexagon-select.png);}

.red-hexagon {background-image: url(../images/red-hexagon.png);}
.select.red-hexagon {background-image: url(../images/red-hexagon-select.png);}

.dark-orange-hexagon {background-image: url(../images/dark-orange-hexagon.png);}
.select.dark-orange-hexagon {background-image: url(../images/dark-orange-hexagon-select.png);}

.orange-hexagon {background-image: url(../images/orange-hexagon.png);}
.select.orange-hexagon {background-image: url(../images/orange-hexagon-select.png);}

.green-hexagon {background-image: url(../images/green-hexagon.png);}
.select.green-hexagon {background-image: url(../images/green-hexagon-select.png);}

.grey-hexagon {background-image: url(../images/grey-hexagon.png) !important;}


.hexagon .hexagon-text {display: block; padding: 25px 5px; position: relative; z-index: 5; top: 50%; transform: translateY(-50%); text-align: center; }


/*==================================================
               Left Side Hexagon
==================================================*/

.left-side-hexagon {margin-top: 100px;}
.left-side-hexagon .hexagon {margin-bottom: 20px;}



/*==================================================
               right Side Hexagon
==================================================*/

.right-side-hexagon {max-width: 665px;margin-left: auto;margin-right: auto;min-height: 900px;position: relative;}

.right-side-hexagon .hexagon {position: absolute;}





.hexagon-1 {left: 222px;}
.hexagon-2 {left: 311px;}
.hexagon-1, 
.hexagon-2 {top: 0;}


.hexagon-3 {left: 178px;}
.hexagon-4 {left: 356px;}
.hexagon-5 {left: 445px;} 
.hexagon-3,
.hexagon-4,
.hexagon-5 {top: 78px;}


.hexagon-6 {left: 222px;}
.hexagon-7 {left: 311px;}
.hexagon-8 {left: 400px;} 
.hexagon-6,
.hexagon-7,
.hexagon-8 {top: 156px;}


.hexagon-9 {left: 267px;}
.hexagon-10 {left: 356px;}
.hexagon-9, 
.hexagon-10 {top: 234px;}


.hexagon-11 {left: 133px;}
.hexagon-12 {left: 222px;}
.hexagon-13 {left: 311px;} 
.hexagon-14 {left: 400px;} 
.hexagon-15 {left: 578px;} 
.hexagon-11,
.hexagon-12,
.hexagon-13,
.hexagon-14,
.hexagon-15 {top: 312px;}


.hexagon-16 {left: 178px;}
.hexagon-17 {left: 267px;}
.hexagon-18 {left: 356px;} 
.hexagon-19 {left: 445px;} 
.hexagon-20 {left: 534px;} 
.hexagon-16,
.hexagon-17,
.hexagon-18,
.hexagon-19,
.hexagon-20 {top: 390px;}


.hexagon-21 {left: 44px;}
.hexagon-22 {left: 133px;}
.hexagon-23 {left: 311px;} 
.hexagon-24 {left: 400px;} 
.hexagon-21,
.hexagon-22,
.hexagon-23,
.hexagon-24 {top: 468px;}


.hexagon-25 {left: 0px;}
.hexagon-26 {left: 178px;}
.hexagon-27 {left: 267px;} 
.hexagon-28 {left: 356px;} 
.hexagon-25,
.hexagon-26,
.hexagon-27,
.hexagon-28 {top: 546px;}


.hexagon-29 {left: 44px;}
.hexagon-30 {left: 133px;}
.hexagon-31 {left: 400px;} 
.hexagon-29,
.hexagon-30,
.hexagon-31 {top: 624px;}


.hexagon-32 {left: 356px; top: 702px;}

.hexagon-33 {top: 624px;left: 222px;}

.hexagon-34 {top: 702px;left: 267px;}

.hexagon-35 {top: 624px;left: 489px;}

.hexagon-36 {top: 624px;left: 578px;}




/*==================================================
              Form
==================================================*/

form label {font-weight: 600;}


.form-group {margin-bottom: 1.25rem;}
select.form-control:not([size]):not([multiple]) {height: auto;}
.form-control {border-color: #ddd;padding-top: 8px;padding-bottom: 8px;font-size: 0.875rem;}
.form-control:focus {border-color: #ddd;box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .05);}

.invalid-feedback {font-size: 0.8125rem;}




.custom-control {position: relative; display: block; min-height: 1.5rem; padding-left: 1.875rem; }
.custom-control-label {margin-top: 4px; margin-bottom: 0; }
.custom-control-label:before {position: absolute; top: .25rem; left: 0; display: block; width: 1.25rem; height: 1.25rem; pointer-events: none; content: ""; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-color: #ddd; }
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {background-color: #7d7f4b; }
.custom-control-input:checked~.custom-control-label::before {color: #fff; background-color: #7d7f4b; }
.custom-checkbox .custom-control-label::before {border-radius: .25rem; }
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"); }
.custom-control-label::after {position: absolute; top: .25rem; left: 0; display: block; width: 1.25rem; height: 1.25rem; content: ""; background-repeat: no-repeat; background-position: center center; background-size: 50% 50%; }


/*==================================================
              Modal
==================================================*/


.modal-header {border-bottom-color: #ddd;}
.modal-footer {border-top-color: #ddd;}
.modal-title {font-weight: 600;}


.modal-dialog {min-height: calc(100vh - 60px); display: flex; flex-direction: column; justify-content: center; overflow: auto; }
@media(max-width: 768px) {
  .modal-dialog {
    min-height: calc(100vh - 20px);
  }
}



/*==================================================
              Bootstrap Tooltip
==================================================*/

.tooltip {font-size: 12px;font-family: 'Open Sans', sans-serif;letter-spacing: 0.5px;line-height: 18px;text-align: justify;}
.tooltip-inner {max-width: 500px;text-align: justify;padding: 10px;}
.tooltip.show {opacity: 1;}

.tooltip ol {margin-bottom: 0;}
.tooltip ol li {margin-bottom: 15px;}
.tooltip ol li:last-child{margin-bottom: 0;}

/*==================================================
              Tooltip Green
==================================================*/

.tooltip-green .tooltip-inner {background-color: rgba(125,127,75,0.9);}

.tooltip-green.tooltip-top .tooltip-inner:before,
.tooltip-green.bs-tether-element-attached-bottom .tooltip-inner:before {border-top-color: rgba(125,127,75,0.9);}

.tooltip-green.tooltip-right .tooltip-inner:before,
.tooltip-green.bs-tether-element-attached-left .tooltip-inner:before {border-right-color: rgba(125,127,75,0.9);}

.tooltip-green.tooltip-bottom .tooltip-inner:before,
.tooltip-green.bs-tether-element-attached-top .tooltip-inner:before {border-bottom-color: rgba(125,127,75,0.9);}

.tooltip-green.tooltip-left .tooltip-inner:before,
.tooltip-green.bs-tether-element-attached-right .tooltip-inner:before {border-left-color: rgba(125,127,75,0.9);}

.tooltip-green.bs-tooltip-auto[x-placement^=top] .arrow::before,
.tooltip-green.bs-tooltip-top .arrow::before {border-top-color:rgba(125,127,75,0.9);}

.tooltip-green.bs-tooltip-auto[x-placement^=bottom] .arrow:before,
.tooltip-green.bs-tooltip-bottom .arrow:before {border-bottom-color:rgba(125,127,75,0.9);}

.tooltip-green.bs-tooltip-left .arrow:before,
.tooltip-green.bs-tooltip-auto[x-placement^="left"] .arrow:before {border-left-color:rgba(125,127,75,0.9);}

.tooltip-green.bs-tooltip-right .arrow:before,
.tooltip-green.bs-tooltip-auto[x-placement^="right"] .arrow:before {border-right-color:rgba(125,127,75,0.9);}


/*==================================================
              Tooltip Dark Orange
==================================================*/

.tooltip-dark-orange .tooltip-inner {background-color: rgba(169,117,66,0.9);}

.tooltip-dark-orange.tooltip-top .tooltip-inner:before,
.tooltip-dark-orange.bs-tether-element-attached-bottom .tooltip-inner:before {border-top-color: rgba(169,117,66,0.9);}

.tooltip-dark-orange.tooltip-right .tooltip-inner:before,
.tooltip-dark-orange.bs-tether-element-attached-left .tooltip-inner:before {border-right-color: rgba(169,117,66,0.9);}

.tooltip-dark-orange.tooltip-bottom .tooltip-inner:before,
.tooltip-dark-orange.bs-tether-element-attached-top .tooltip-inner:before {border-bottom-color: rgba(169,117,66,0.9);}

.tooltip-dark-orange.tooltip-left .tooltip-inner:before,
.tooltip-dark-orange.bs-tether-element-attached-right .tooltip-inner:before {border-left-color: rgba(169,117,66,0.9);}

.tooltip-dark-orange.bs-tooltip-auto[x-placement^=top] .arrow::before,
.tooltip-dark-orange.bs-tooltip-top .arrow::before {border-top-color:rgba(169,117,66,0.9);}

.tooltip-dark-orange.bs-tooltip-auto[x-placement^=bottom] .arrow:before,
.tooltip-dark-orange.bs-tooltip-bottom .arrow:before {border-bottom-color:rgba(169,117,66,0.9);}

.tooltip-dark-orange.bs-tooltip-left .arrow:before,
.tooltip-dark-orange.bs-tooltip-auto[x-placement^="left"] .arrow:before {border-left-color:rgba(169,117,66,0.9);}

.tooltip-dark-orange.bs-tooltip-right .arrow:before,
.tooltip-dark-orange.bs-tooltip-auto[x-placement^="right"] .arrow:before {border-right-color:rgba(169,117,66,0.9);}


/*==================================================
              Tooltip Orange
==================================================*/

.tooltip-orange .tooltip-inner {background-color: rgba(210,117,39,0.9);}

.tooltip-orange.tooltip-top .tooltip-inner:before,
.tooltip-orange.bs-tether-element-attached-bottom .tooltip-inner:before {border-top-color: rgba(210,117,39,0.9);}

.tooltip-orange.tooltip-right .tooltip-inner:before,
.tooltip-orange.bs-tether-element-attached-left .tooltip-inner:before {border-right-color: rgba(210,117,39,0.9);}

.tooltip-orange.tooltip-bottom .tooltip-inner:before,
.tooltip-orange.bs-tether-element-attached-top .tooltip-inner:before {border-bottom-color: rgba(210,117,39,0.9);}

.tooltip-orange.tooltip-left .tooltip-inner:before,
.tooltip-orange.bs-tether-element-attached-right .tooltip-inner:before {border-left-color: rgba(210,117,39,0.9);}

.tooltip-orange.bs-tooltip-auto[x-placement^=top] .arrow::before,
.tooltip-orange.bs-tooltip-top .arrow::before {border-top-color:rgba(210,117,39,0.9);}

.tooltip-orange.bs-tooltip-auto[x-placement^=bottom] .arrow:before,
.tooltip-orange.bs-tooltip-bottom .arrow:before {border-bottom-color:rgba(210,117,39,0.9);}

.tooltip-orange.bs-tooltip-left .arrow:before,
.tooltip-orange.bs-tooltip-auto[x-placement^="left"] .arrow:before {border-left-color:rgba(210,117,39,0.9);}

.tooltip-orange.bs-tooltip-right .arrow:before,
.tooltip-orange.bs-tooltip-auto[x-placement^="right"] .arrow:before {border-right-color:rgba(210,117,39,0.9);}


/*==================================================
              Tooltip Blue
==================================================*/

.tooltip-blue .tooltip-inner {background-color: rgba(0,62,95,0.9);}

.tooltip-blue.tooltip-top .tooltip-inner:before,
.tooltip-blue.bs-tether-element-attached-bottom .tooltip-inner:before {border-top-color: rgba(0,62,95,0.9);}

.tooltip-blue.tooltip-right .tooltip-inner:before,
.tooltip-blue.bs-tether-element-attached-left .tooltip-inner:before {border-right-color: rgba(0,62,95,0.9);}

.tooltip-blue.tooltip-bottom .tooltip-inner:before,
.tooltip-blue.bs-tether-element-attached-top .tooltip-inner:before {border-bottom-color: rgba(0,62,95,0.9);}

.tooltip-blue.tooltip-left .tooltip-inner:before,
.tooltip-blue.bs-tether-element-attached-right .tooltip-inner:before {border-left-color: rgba(0,62,95,0.9);}

.tooltip-blue.bs-tooltip-auto[x-placement^=top] .arrow::before,
.tooltip-blue.bs-tooltip-top .arrow::before {border-top-color:rgba(0,62,95,0.9);}

.tooltip-blue.bs-tooltip-auto[x-placement^=bottom] .arrow:before,
.tooltip-blue.bs-tooltip-bottom .arrow:before {border-bottom-color:rgba(0,62,95,0.9);}

.tooltip-blue.bs-tooltip-left .arrow:before,
.tooltip-blue.bs-tooltip-auto[x-placement^="left"] .arrow:before {border-left-color:rgba(0,62,95,0.9);}

.tooltip-blue.bs-tooltip-right .arrow:before,
.tooltip-blue.bs-tooltip-auto[x-placement^="right"] .arrow:before {border-right-color:rgba(0,62,95,0.9);}


/*==================================================
              Tooltip Red
==================================================*/

.tooltip-red .tooltip-inner {background-color: rgba(218,122,95,0.9);}

.tooltip-red.tooltip-top .tooltip-inner:before,
.tooltip-red.bs-tether-element-attached-bottom .tooltip-inner:before {border-top-color: rgba(218,122,95,0.9);}

.tooltip-red.tooltip-right .tooltip-inner:before,
.tooltip-red.bs-tether-element-attached-left .tooltip-inner:before {border-right-color: rgba(218,122,95,0.9);}

.tooltip-red.tooltip-bottom .tooltip-inner:before,
.tooltip-red.bs-tether-element-attached-top .tooltip-inner:before {border-bottom-color: rgba(218,122,95,0.9);}

.tooltip-red.tooltip-left .tooltip-inner:before,
.tooltip-red.bs-tether-element-attached-right .tooltip-inner:before {border-left-color: rgba(218,122,95,0.9);}

.tooltip-red.bs-tooltip-auto[x-placement^=top] .arrow::before,
.tooltip-red.bs-tooltip-top .arrow::before {border-top-color: rgba(218,122,95,0.9);}

.tooltip-red.bs-tooltip-auto[x-placement^=bottom] .arrow:before,
.tooltip-red.bs-tooltip-bottom .arrow:before {border-bottom-color:rgba(218,122,95,0.9);}

.tooltip-red.bs-tooltip-left .arrow:before,
.tooltip-red.bs-tooltip-auto[x-placement^="left"] .arrow:before {border-left-color:rgba(218,122,95,0.9);}

.tooltip-red.bs-tooltip-right .arrow:before,
.tooltip-red.bs-tooltip-auto[x-placement^="right"] .arrow:before {border-right-color:rgba(218,122,95,0.9);}











/*==================================================
              Thank you page
==================================================*/


/*
 * Base structure
 */
html,
body {height: 100%; }
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  color: #fff;
  text-align: center;
  background: transparent url(../images/banner-home.jpg) no-repeat center scroll;background-size: cover;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Padding for spacing */
.inner {
  padding: 2rem 0;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}


@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}




/*
 * Affix and center
 */
@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

  
}






















